<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>

<body>
    <div>
        <h1>Lista de Productos en tiempo real</h1>
        <ul>
            {{#each products}}
            <li id={{id}}>{{title}} - ${{price}} - {{description}} - codigo: {{code}}</li>
            {{/each}}
        </ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>